<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="style.css">
    {% include 'quizzes/header_style_quizzes.html' %}
    {% include 'quizzes/main/styles/quiz1_style.html' %}
</head>
<body>
    
<nav class="main-navbar">
    <a href="{% url 'home' %}" id="logo">Home</a>
    {% if request.resolver_match.url_name == 'home' %}
        <a href="#quiz1">Quiz 1</a>
        <a href="#quiz2">Quiz 2</a>
        <a href="#quiz3">Quiz 3</a>
    {% else %}
        <a href="{% url 'quiz1' %}">Quiz 1</a>
        <a href="{% url 'quiz2' %}">Quiz 2</a>
        <a href="{% url 'quiz3' %}">Quiz 3</a>
    {% endif %}
    {% if request.user.is_authenticated %}
        <nav class="account-navbar">
            <a href="{% url 'account' %}">Account</a>
            <a href="{% url 'logout' %}">Logout</a>
        </nav>
    {% else %}
        <nav class="account-navbar">
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
        </nav>
    {% endif %}
</nav>

<!-- Structure of quiz initialization page -->
<div class="container">
    <div id="home" class="flex-column flex-center">
        <h1 style="white-space: nowrap;">Are you ready for some <br>General Knowledge questions?</h1>
        <a href="{% url 'quiz1_game' %}" class="btn">Play</a>
        <a href="{% url 'quiz1_highscore' %}" id="highscore-btn" class="btn">High Scores<i class="fas fa-crown"></i></a>
    </div>
</div>

</body>
</html>
